.timer{
    display: flex;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: white;
    font-weight: 900;
    justify-content: center;
    width: 370px;   
}

.timer button{
    font-size: 20px;
    border-radius: 50%;
    border: 0px;
    background-color: palevioletred;
    color: white;
    margin-right: 20px;
    
}