
.app-wrapper{
  font-family: 'Work Sans', sans-serif;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #ccccff;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  line-height: 200px;
  font-weight: 900;
  color: #2B44B6;
}
.nav{
  background-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: sticky;
  position: -webkit-sticky;
  top:0;
}
.nav ul{
    /* display: flex;
    flex-wrap: wrap; */
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;  
    border-radius: 30px;
}
.nav li{
  float:left;
}
.nav li a{
  display: block;
  color:white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.nav li a:hover:not(.about-btn){
  background-color: #80bfff;
}
.about-btn
{
   background-color: #6666ff;
   border-radius: 30px;
}
.nav img{
  width: 80px;
  background-color: black;
  border-radius: 100px;
  margin-right: 20px;
  float: left;
}
.page-content{
  display: flex;
  justify-content: center;
  background-color: dodgerblue;

  height: 900px;
}

.game-field{
  display: grid;
  grid-template-columns: 140px 140px 100px;
  grid-template-rows: 140px 140px 170px;
  align-items: center;
}

.game-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.puzzle-block
{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    box-shadow: 0 9px #999;
    transition-duration: 0.05s; 
}

.puzzle-block:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.reset-btn{
  display: flex;
  height: 130px;
  width: 130px;
  background-color:palevioletred ;
  font-size: 20px;
  color: white;
  font-weight: 900;
  line-height: 50px;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  box-shadow: 0 12px #999;
  align-items: center;
  justify-content: center;
  transition-duration: 0.1s;
}

.reset-btn:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer{
  grid-area: footer;
  display: flex;
  background-color: black;
  height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}

.score{
  display: flex;
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  color: white;
  font-weight: 900;
  justify-content: center;
  width: 370px;
}

.rules-container{
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 50px;

  color: white;
  font-size: 20px;
}
.rules-container a{
  font-size: 30px;
  margin-top: 50px;
  color: #D5DBDB;
  text-decoration: none;
  transition-duration: 0.3s;
}
.rules-container div {
  margin: 0 60px 30px 40px;
}

.rules-container a:hover {
  color: white;
}

.rules-list {
  width: 400px;
}

.rules-container li{
  margin-bottom: 60px;
  margin-right: 40px;
}

.example-img img{
  height: 500px;
  width: 500px;
}





